.cart-products {
    background-color: #fff;
    flex: 1;
    padding: 20px;
    margin-right: 20px;
}

.initial-content {
    margin: 30px;
}

.main-div {
    display: flex;
    margin: 30px;
    flex-wrap: wrap;
}

.subtotal-main>p {
    font-size: 20px;
}

.empty-basket-image {
    width: 35%;
}

.empty-basket-container {
    display: flex;
    font-size: 30px;
    padding: 10px;
}

.empty-basket-container>p {
    margin-left: 20px;
}

@media only screen and (max-width: 768px) {
    .cart-products {
        margin-right: 0px;
        padding: 10px;
        order: 2;
    }
    .sub-total {
        width: 100%;
    }
    .main-div,
    .initial-content {
        margin: 10px;
    }
    .sub-total {
        order: 1;
    }
    .purchase-protection {
        text-align: center;
    }
    .empty-basket-container {
        display: block;
    }
    .empty-basket-image {
        width: 100%;
    }
    .empty-basket-container>p {
        margin-left: 0px;
        font-size: 20px;
        text-align: center;
        padding-top: 20px;
    }
}