.home-furnishing-wrapper,
.home-furnishing-products {
    width: 70%;
    margin: 0 auto;
    position: relative;
    top: -150px;
}

.home-furnishing-products {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 30px;
}

@media only screen and (max-width: 768px) {
    .home-furnishing-wrapper,
    .home-furnishing-products {
        width: 90%;
        top: 0;
    }
    .home-furnishing-products {
        display: block;
    }
    .home-furnishing-wrapper {
        margin-top: 70px;
    }
}