.header {
    background-color: #131921;
    display: flex;
    align-items: center;
}

.amazon-logo img {
    width: 100px;
    margin: 20px 50px 5px 15px;
}

.search-box input {
    border: none;
    padding: 5px 10px;
}

.search-icon {
    color: #111;
    background-color: #cd9042;
    padding: 10px;
}

.search-box {
    display: flex;
    flex: 1;
}

.links {
    display: flex;
    justify-content: space-evenly;
    color: aliceblue;
}

.link_one,
.link_two,
.link_three {
    display: flex;
    flex-direction: column;
    margin: 0 20px;
}

@media only screen and (max-width: 768px) {
    .header {
        display: flex;
        flex-direction: column;
    }
    .amazon-logo img {
        margin: 20px 0 10px 0;
    }
    .links {
        margin: 15px 0;
    }
}