.td {
    position: relative;
    top: -250px;
    max-width: 1480px;
    margin: 0 auto;
}

.td-main-div {
    margin: 0 30px;
    padding: 20px;
}

.td-products {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.td-products>div {
    text-align: center;
}

.td-products>div>p {
    margin: 10px 0;
    color: #007185;
}

@media only screen and (max-width: 768px) {
    .td {
        top: 0;
        width: 100%;
    }
    .td-main-div {
        margin: 10px;
    }
    .td-products {
        display: block;
    }
    .td-products>div {
        margin: 20px 0;
    }
}