.login__logo {
    width: 200px;
}

.login {
    max-width: 400px;
    margin: 0 auto;
}

.login__loginText {
    font-size: 30px;
    font-weight: 500;
}

.login__statement {
    font-size: 13px;
    margin-top: 10px;
}

.login__statement>span {
    color: blue;
}

.login__newToAmazon>p {
    font-size: 13px;
}

.login__main_div {
    border: 1px solid #d2d2d2;
    border-radius: 4px;
    padding: 0 30px;
}

.form_button {
    background-color: #f0c14b !important;
    border: 1px solid #a88734 !important;
}

.newAccountBtn {
    background-color: #eee !important;
    border: 1px solid #ccc !important;
}

@media only screen and (max-width: 768px) {
    .login {
        width: 90%;
    }
}