.showcase__banner {
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    object-fit: contain;
}

.showcase__cards {
    top: -300px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.secondary__showcase {
    margin-top: 90px;
}

@media only screen and (max-width: 1024px) {
    .showcase__cards {
        top: -100px;
    }
}

@media only screen and (max-width: 768px) {
    .showcase {
        width: 100%;
        max-width: 100%;
    }
    .showcase__banner {
        width: 100%;
        height: 100%;
    }
    .showcase__cards {
        top: 0px;
    }
}