.form {
    max-width: 400px;
    margin: 0 auto;
}

.form__logo {
    width: 200px;
}

.form__title {
    font-size: 30px;
    font-weight: 500;
}

.form__text--legal {
    font-size: 13px;
    margin-top: 10px;
}

.form__text--legal>span {
    color: blue;
}

.form__new-to-amazon>p {
    font-size: 13px;
}

.form__main-div {
    border: 1px solid #d2d2d2;
    border-radius: 4px;
    padding: 0 30px;
}

.form__button {
    background-color: #f0c14b !important;
    border: 1px solid #a88734 !important;
}

.form__button--new-account,
.form__button--have-account {
    background-color: #eee !important;
    border: 1px solid #ccc !important;
}

@media only screen and (max-width: 768px) {
    .form {
        width: 90%;
    }
}